* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background: #222;
    margin: 50px 100px;
}

main {
    width: 90%;
    height: auto;
    margin: 100px auto;
    display: grid;
    grid-template-columns:  80% 20%;
}

#keysLetters {   
    display: grid;
    grid-template-columns : repeat(8, 1fr);   
    background: rgb(97, 97, 97);   
}

.keys {
    margin: 0px auto;
    width: 99%;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;    
    color: #ffffff;
    border-bottom: 1px solid rgb(129, 129, 129);
    border-right: 1px solid rgb(129, 129, 129);
}

#keysNumbers {
    display: grid;
    grid-template-columns : repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    background: rgb(177, 177, 177);
    color: #ffffff;
}

.space {
    grid-column: span 6;
}

.backspace {
    grid-column: span 2;
    
}
