* {
    box-sizing: border-box;
}

body {
    background: #000000;
    position: relative;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 30px;
    width: 60%;
    height: auto;
    background: #1a1a1a;
    text-align: center;

}

.display {
    width: 80%;
    height: 100px;
    margin: 0 auto 10px;
    padding-bottom: 10px;
    background: #3a3a3a;
    border-top: 1px solid #009e08;
    position: relative;
}

.display .input {
    width: 100%;
    text-align: right;
    font-size: 40px;
    vertical-align: bottom;
    color: #ffffff;
    padding-right: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.buttons {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3px;
    height: 200px;

}

.button {
background: #5a5a5a;
font-family: 'Roboto Mono';
font-size: 20px;
color: #ffffff;
cursor: pointer;
display: grid;
align-items: center;
justify-content: center;
}

.column-1 {
    margin-right: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

.large {
    grid-column: span 2;
}

.green {
    background: #009e08;
}